<!doctype html>
<html lang="en">
    <head>    

        
        {% assign font = site.data.config.base_font | default: 'nunito-sans' %}
        {% if font != 'system-sans' %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        {% endif %}
        {% if font == 'nunito-sans' %}
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        {% elsif font == 'fira-sans' %}
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
        {% endif %}
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        {% assign favicon_is_not_empty = site.data.config.favicon | is_not_empty %}
        {% if favicon_is_not_empty %}
        <link rel="icon" href="{{ site.data.config.favicon | relative_url }}">
        {% endif %}
        
    </head>
    <body class="palette-{{ site.data.config.palette }} font-{{ site.data.config.base_font }}">
        
        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'js/plugins.js' | relative_url }}"></script>
        <script src="{{ 'js/init.js' | relative_url }}"></script>
        <script src="{{ 'js/main.js' | relative_url }}"></script>
    </body> 
</html>
