<!doctype html>
<html lang="en">
    <head>    
        <title>
        {% if page.seo.title and page.seo.title != '' %}
            {{ page.seo.title }}
        {% else %}
            {{ page.title | append: ' | ' | append: site.title }}
        {% endif %}
        </title>
        <meta name="description" content="{{ page.seo.description | default: '' }}" />
        {% if page.seo.robots and page.seo.robots.size > 0 %}
        <meta name="robots" content="{{ page.seo.robots | join: ',' }}">
        {% endif %}
        {% for meta in page.seo.extra %}
        {% assign key_name = meta.keyName | default: 'name' %}
        {% if meta.relativeUrl %}
            {% if site.domain and site.domain != '' %}
            {% assign domain = site.domain %}
            {% assign rel_url = meta.value | relative_url %}
            {% assign full_url = domain | append: rel_url %}
            <meta {{ key_name }}="{{ meta.name }}" content="{{ full_url }}">
            {% endif %}
        {% else %}
            <meta {{ key_name }}="{{ meta.name }}" content="{{ meta.value }}">
        {% endif %}
        {% endfor %}
        
        {% assign font = site.data.config.base_font | default: 'nunito-sans' %}
        {% if font != 'system-sans' %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        {% endif %}
        {% if font == 'nunito-sans' %}
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
        {% elsif font == 'fira-sans' %}
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap" rel="stylesheet">
        {% endif %}
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        {% assign favicon_is_not_empty = site.data.config.favicon | is_not_empty %}
        {% if favicon_is_not_empty %}
        <link rel="icon" href="{{ site.data.config.favicon | relative_url }}">
        {% endif %}
        
    </head>
    <body class="palette-{{ site.data.config.palette }} font-{{ site.data.config.base_font }}">
        
        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'js/plugins.js' | relative_url }}"></script>
        <script src="{{ 'js/init.js' | relative_url }}"></script>
        <script src="{{ 'js/main.js' | relative_url }}"></script>
    </body> 
</html>
